<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.diab.autocommit-configs</string>
  <key>Program</key>
  <string>/Users/eliasdiab/dev/configs/bin/autocommit-configs.sh</string>
  <key>StartInterval</key>
  <integer>900</integer> <!-- every 15 minutes -->
  <key>StandardOutPath</key>
  <string>/tmp/autocommit-configs.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/autocommit-configs.err</string>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
